name: Deploy on Release Published

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  deploy_to_powershellgallery:
    runs-on: ubuntu-latest
    environment: powershellgallery
    steps:
      - uses: actions/checkout@v3
      - env:
          EVENT_CONTEXT: ${{ toJSON(github.event) }}
        run: |
          echo $EVENT_CONTEXT

      - name: Run test.ps1
        shell: pwsh
        run: |
          $result = ./test.ps1 -ShowTestErrors

          Write-Output $result

          import-module ./tools/Test_Helper/

          $passed = Test-Result -Result $result

          if($passed)
            { "All test passed" | Write-Verbose -verbose ; exit 0 }
          else
            { "Not all tests passed" | Write-Verbose -verbose ; exit 1 }

      - name: deploy_ps1
        shell: pwsh
        env:
          NUGETAPIKEY: ${{ secrets.NUGETAPIKEY }}
          EVENT_REF: ${{ github.event.ref }}
          RELEASE_TAG: ${{ github.event.release.tag_name }}
          RELEASE_NAME: ${{ github.event.release.name }}
        run: |

          # Import required modules for deployment
          import-module ./tools/Test_Helper/

          Get-RequiredModule -Verbose | Import-RequiredModule -AllowPrerelease

          # GET TAG NAME

          ## Ref definition. Branch or Tag
          $env:EVENT_REF = $env:REF
          If ([string]::IsNullOrEmpty($env:EVENT_REF)) {
            # Release published trigger
            $tag = $env:RELEASE_TAG
            write-host -message "Release [$env:RELEASE_NAME] on tag [$tag]"
          } else {
            # Read Tag o Branch name
            $tag = $env:EVENT_REF.Split('/')[2]
            write-host "workflow_dispatch triggered on ref leaf [$tag]"
          }

          If([string]::IsNullorwhitespace($tag)) {
            # Tag name is empty, exit
            throw "Tag name is empty"
          }

          # DEPLOYMENT
          ./deploy.ps1 -VersionTag $tag -NugetApiKey $env:NUGETAPIKEY
